[Unit]
Description=Kiosk session
Conflicts=getty@tty1.service
After=getty@tty1.service
Before=graphical.target

[Service]
Type=simple
Environment=XDG_SESSION_TYPE=wayland
ExecStart=/usr/bin/systemctl --wait --user start kiosk-session.target
User=root
Group=root
PAMName=login
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes
StandardInput=tty-fail
StandardError=journal
UtmpIdentifier=tty1
UtmpMode=user

[Install]
WantedBy=graphical.target
